@using TehnokratProject.Models

<h1>Список відгуків</h1>
<br>

<a asp-controller="feedback" asp-action="create">Додати відгук</a>

<form method="get">
</form>

<table>
    <tr>
        <th>
            <a asp-action="Index">Id</a>
        </th>  
        <th>
            <a asp-action="Index">Ім'я автора</a>
        </th>
        <th>
            <a asp-action="Index">Email автора</a>
        </th>
        <th>
            <a asp-action="Index">Текст</a>
        </th>
        <th>
            <a asp-action="Index">Дата</a>
        </th>
        <th>
            <a asp-action="Index">Рейтинг</a>
        </th>
    </tr>


    @foreach (var feedback in Model)
    {
        <tr>
            <td>@feedback.id</td>
            <td>@feedback.author_name</td>
            <td>@feedback.author_email</td>
            <td>@feedback.text</td>
            <td>@feedback.date</td>
            <td>@feedback.rating</td>

            <td>
                <form asp-controller="Feedback" asp-action="Edit" asp-route-id="@feedback.id">
                    <input type="submit" value="Редагувати"></input>
                </form>

            </td>
            <td>
                <form asp-controller="Feedback" asp-action="Delete" asp-route-id="@feedback.id">
                    <input type="submit" value="Видалити"></input>
                </form>
            </td>
        </tr>
    }
</table>
