@using TehnokratProject.Models

<h1>Список категорій</h1>
<br>

<a asp-controller="Category" asp-action="create" class="btn btn-add">Додати категорію</a>

<form method="get">
</form>

<table>
    <tr>
        <th>
            <a asp-action="Index">Id</a>
        </th>  
        <th>
            <a asp-action="Index">Назва</a>
        </th>
        <th>
            <a asp-action="Index">Опис</a>
        </th>
    </tr>


    @foreach (var category in Model)
    {
        <tr>
            <td>@category.id</td>
            <td>@category.title</td>
            <td>@category.description</td>
            <td>
                <form asp-controller="Category" asp-action="Edit" asp-route-id="@category.id" >
                    <input type="submit" value="Редагувати" class="btn btn-edit"></input>
                </form>

            </td>
            <td>
                <form asp-controller="Category" asp-action="Delete" asp-route-id="@category.id" >
                    <input type="submit" value="Видалити" class="btn btn-delete"></input>
                </form>
            </td>
        </tr>
    }
</table>
