@using TehnokratProject.Models

<h1>Список товарів</h1>
<br>

<a asp-controller="Product" asp-action="Create" class="btn btn-add">Додати товар</a>

<table>
    <tr>
        <th>
            <a asp-action="Index">Id</a>
        </th>  
        <th>
            <a asp-action="Index">Назва</a>
        </th>
        <th>
            <a asp-action="Index">Бренд</a>
        </th>
        <th>
            <a asp-action="Index">Опис</a>
        </th>
        <th>
            <a asp-action="Index">Кількість</a>
        </th>
        <th>
            <a asp-action="Index">Ціна</a>
        </th>
        <th>
            <a asp-action="Index">Стан</a>
        </th>
        <th>
            <a asp-action="Index">Статус</a>
        </th>
        <th>
            <a asp-action="Index">Категорія</a>
        </th>
    </tr>


    @foreach (var product in Model)
    {
        <tr>
            <td>@product.id</td>
            <td>@product.title</td>
            <td>@product.brand</td>
            <td>@product.description</td>
            
            @if (product.quantity == 0)
            {
                <td>Немає в наявності</td>
            }
            else{
                <td>@product.quantity</td>
            }
            <td>@product.price</td>
            <td>@product.state</td>
            @if (product.status == true){
                 <td>Активне</td>
            }
            else{
                <td>Неактивне</td>
            }
            <td>@product.category?.title</td>

            <td>
                <form asp-controller="Product" asp-action="Edit" asp-route-id="@product.id" method="get" >
                    <input type="submit" value="Редагувати" class="btn btn-edit"></input>
                </form>

            </td>
            <td>
                <form asp-controller="Product" asp-action="Delete" asp-route-id="@product.id" >
                    <input type="submit" value="Видалити" class="btn btn-delete"></input>
                </form>
            </td>
        </tr>
    }
</table>
