@using TehnokratProject.Models

<h1>Список товарів</h1>
<br>

<a asp-controller="Product" asp-action="Create">Додати товар</a>

<form method="get">
</form>

<table>
    <tr>
        <th>
            <a asp-action="Index">Id</a>
        </th>  
        <th>
            <a asp-action="Index">Назва</a>
        </th>
        <th>
            <a asp-action="Index">Опис</a>
        </th>
        <th>
            <a asp-action="Index">Ціна</a>
        </th>
        <th>
            <a asp-action="Index">Статус</a>
        </th>
        <th>
            <a asp-action="Index">Категорія</a>
        </th>
    </tr>


    @foreach (var product in Model)
    {
        <tr>
            <td>@product.id</td>
            <td>@product.title</td>
            <td>@product.description</td>
            <td>@product.price</td>
            @if (product.status == true){
                 <td>В наявності</td>
            }
            else{
                <td>Немає в наявності</td>
            }
            <td>@product.category?.title</td>

            <td>
                <form asp-controller="Product" asp-action="Edit" asp-route-id="@product.id">
                    <input type="submit" value="Редагувати"></input>
                </form>

            </td>
            <td>
                <form asp-controller="Product" asp-action="Delete" asp-route-id="@product.id">
                    <input type="submit" value="Видалити"></input>
                </form>
            </td>
        </tr>
    }
</table>
